@use "variables";

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: variables.$textColor;
  text-decoration: none;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn {
  width: 260px;
  height: 50px;

  cursor: pointer;
  font-size: 18px;

  padding: 10px;
  border-radius: variables.$borderRadius;
  background-color: variables.$borderColor;
  border: 1px solid variables.$borderColor;

  transition: all 0.3s ease;
}

.btn:hover,
.btn:focus {
  background-color: variables.$hoverColor;
  border: 1px solid variables.$hoverColor;
  color: variables.$whiteColor;
}

.text-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  margin-bottom: 60px;
}

@media (max-width: 1250px){
 .offer-item {
  width: 250px;
  height: 431px;
}
.btn-wrapper {
  margin-right: 30px;
}
}

@media (max-width: 1100px){
 .btn {
  width: 150px;
  font-size: 14px;
 }
 .text-h2 {
  font-weight: 500;
  font-size: 24px;
 }
}
