@use "variables";

.first-container {
  width: 100%;
  height: 500px;
  background-image: url(../images/mainBgImage.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;              
  flex-direction: column;     
  justify-content: center;    
  align-items: center;
  text-align: center;      
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 150px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.dot.active {
  background-color: variables.$whiteColor;
}

.text-container {
width: 600px;
height: 254px;
color: variables.$whiteColor;
}

.first-text{
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 3.24px;
  
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 20px;
}
