@use "variables";

.header {
  padding: 20px 0;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
}

.logo {
  width: 223px;
  height: 66px;

  color: #000;
  font-weight: bold;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: variables.$borderColor;
  border-radius: variables.$borderRadius;
  border: 1px solid variables.$borderColor;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  .nav-list {
    list-style: none;
    display: flex;
    gap: 40px;

    .nav-item {
      position: relative;
     .nav-link:hover,
     .nav-link:focus {
  color: variables.$hoverColor;
}

      .submenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;

        border-radius: variables.$borderRadius;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
        padding: 10px 0;
        min-width: 160px;
        z-index: 100;

        .submenu-item {
          .submenu-link {
            display: block;
            padding: 8px 16px;

            &:hover,
            &:focus {
              background-color: variables.$borderColor;
            }
          }
        }
      }

      &:hover .submenu,
      &:focus .submenu {
        display: block;
      }
    }
  }
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 70px;
}

.search {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.search input {
  border: none;
  outline: none;
  padding: 4px 8px;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.currency-select {
  border: none;
  background: transparent;
  font-weight: 500;
  cursor: pointer;
}

.nav-link:hover,
.nav-link:focus {
  color: variables.$hoverColor;
}

.basket-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.basket-num{
  width: 24px;
  text-align: center;
  color: rgb(178, 178, 178);
  border-radius: 50%;
  border: 1px solid rgb(178, 178, 178);
}


// @media (max-width: 760px) {
//   .hamburger {
//     display: flex;
//   }

//   .list {
//     flex-direction: column;
//     display: none;
//     position: absolute;
//     top: 90px;
//     right: 70px;
//     background-color: rgb(114, 62, 62);
//     width: 200px;
//     padding-left: 20px;
//     border-radius: 10px;
//   }

//   nav ul li:not(:last-child) {
//     margin-bottom: 20px;
//   }
// }
