@use "variables";

.image-container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.image-item {
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.image-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  flex-wrap: wrap;
  gap: 20px;
}

.bg1 {
  background-image: url(../images/image1.png);
}

.bg2 {
  background-image: url(../images/image2.jpg);
}

.bg3 {
  background-image: url(../images/image3.jpg);
}

.text-box {
  width: 270px;
  color: variables.$whiteColor;
}


@media (max-width: 1250px){
 .image-item {
  width: 340px;
}
}

@media (max-width: 1080px){
 .image-item {
  width: 250px;
}
}

@media (max-width: 810px){
 .image-item {
  width: 190px;
}
}

@media (max-width: 630px) {
  .image-list{
    flex-direction: column;
  }
   .image-item {
  width: 250px;
}
}