// $primary-color: #3498db;
// $font-family: 'Arial', sans-serif;
// $font-size: 16px;
// // $button-bg-color: #e74c3c;
// // $button-hover-bg-color: #c0392b;

$whiteColor: #fff;
$hoverColor: rgba(7, 7, 143, 0.782);
$borderRadius: 5px;
$borderColor: #ded5d5;
$textColor: #000;
$hoverImage: rgba(236, 178, 53);